<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>DotPy | Enter your username</title>
    <style>
        html,
        body {
            background: #dedfe2
        }

        .area>form {
            padding: 20px;

        }
        .area {
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container ">
        <div class="row">
            <div class="col s12">
                <br>
                <br>
                <br>
                <div class="area black darken-1">
                    <form method="POST" name="fuck" action="/user/create">
                        <textarea class="white-text" name="user" type="text"
                            placeholder="Enter your username"></textarea>
                        <textarea class="white-text" name="output" readonly cols="30"
                            rows="10">{{data}}</textarea>
                        <button class="btn waves-effect waves-light" onclick=="shit">submit finally?</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html> 